@import "~src/assets/variables";

$notificacion-height: 126px;

:host {

  .notification-drawer {
    z-index: 1000;
    position: absolute;
    right: 0;

    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 392px;
    max-height: $notificacion-height * 3;
    min-width: 330px;
    padding: 0 20px;

    background-color: #ffffff;
    border-radius: 1px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);

    overflow: hidden auto;
    scroll-snap-type: y proximity;

    & > .notificacion {
      scroll-snap-align: start;
    }
  }

  .notification-drawer:not(.notification-drawer--open) {
    pointer-events: none;
    visibility: hidden;
  }

  .notification-drawer.notification-drawer--open {
    visibility: visible;
  }

  .notification-drawer-message {
    height: 300px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto 0;

    &__icon {
      height: 60px;
      width: 60px;
      margin-bottom: 15px;

      mat-icon {
        height: 100%;
        width: 100%;
      }
    }

    &__title {
      font-size: 15px;
      font-weight: 500;
      line-height: 18px;
      letter-spacing: normal;
      text-align: center;
      color: #333333;
      margin-bottom: 5px;
    }

    &__description {
      font-size: 12px;
      font-weight: normal;
      line-height: 18px;
      letter-spacing: 0.2px;
      text-align: center;
      color: #939393;
    }
  }

  .notificacion {
    padding: 20px 0;
    border-bottom: 1px solid rgba(147, 147, 147, .1);

    &:last-of-type {
      border-bottom: none;
    }

    &__title {
      color: #333333;
      font-size: 15px;
      font-weight: 500;
      line-height: 18px;
      letter-spacing: normal;

      margin-bottom: 5px;
    }

    &__description {
      font-size: 12px;
      font-weight: normal;
      line-height: 18px;
      letter-spacing: 0.2px;
      color: #939393;

      margin-bottom: 10px;

      strong {
        font-weight: normal;
        color: black;
      }
    }

    &__call-to-action {
      a {
        color: #333333;
        font-size: 12px;
        font-weight: normal;
        line-height: 16px;
        letter-spacing: 0.1px;
      }

      a.button--arrow {
        display: flex;
        align-items: center;

        &::after {
          content: '';
          display: inline-block;
          background: no-repeat center url(~src/assets/icons/flecha-derecha.svg);
          background-size: cover;
          width: 15px;
          height: 15px;
        }
      }
    }
  }

  .notificacion.notificacion--leida {
    opacity: 0.6;
  }

  @media (max-width: map_get($grid-breakpoints, 'md')) {
    .notification-drawer {
      width: 100vw;
      max-height: 80vh;
    }
  }
}

.custom-scroll {
  overflow: auto auto;
  -ms-overflow-x: auto;
  -ms-overflow-y: auto;
  -ms-overflow-style: auto;
  scrollbar-color: rgba(170, 170, 170, 0.9) transparent;

  &::-webkit-scrollbar {
    width: 12px;
    transition: all 500ms ease-in-out;
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    border: 3px solid rgb(248, 248, 248);
    background-color: rgba(170, 170, 170, 0.9);
    -webkit-border-radius: 16px;
    border-radius: 16px;
  }
}
