@import "~src/assets/variables";

$alert-min-width:                   auto !default;
$alert-padding-y:                   16px;
$alert-padding-x:                   16px;
$alert-margin-bottom:               16px;
$alert-border-radius:               5px;
$alert-link-font-weight:            500;

$alert-bg-level:                    -10;
$alert-border-level:                -9;
$alert-color-level:                 6;
$close-button-width:                48px;
$close-font-size:                   27px;
$close-line-height:                 16px;

$alert-default: (
  color: #ffffff,
  icon-url: url(~src/assets/icons/icon-lampara-prendida.svg),
);

$alert-types: (
  'Notificacion': (
    color: #c0efe8,
    icon-url: url(~src/assets/icons/icon-guaranteed-green.svg),
  ),
  'Advertencia': (
    color: #cfe4fe,
    icon-url: url(~src/assets/icons/icon-warning-circle-grey.svg),
  ),
  'Alerta': (
    color: #ffe6e6,
    icon-url: url(~src/assets/icons/icon-warning-circle.svg),
  )
);

.alert {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: $alert-padding-y $alert-padding-x;
  border-radius: $alert-border-radius;
  //border: 0 solid transparent;

  font-size: 14px;
  font-weight: normal;
  line-height: 1.29;
  letter-spacing: normal;
  color: #3e3d40;

  background-color: map_get($alert-default, 'color');
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);

  &__contenido {
    display: flex;
    flex-direction: column;
  }

  &__texto {
    /* text-align: justify; */
    margin-bottom: 2px;
  }

  &__link {
    white-space: nowrap;
    align-self: flex-start;
    font-weight: $alert-link-font-weight;
  }
}

.alert-heading {
  color: inherit;
}

.alert-dismissible {
  padding-right: $close-button-width + 2px;

  .close {
    position: absolute;
    top: 0;
    right: 0;
    font-size: $close-font-size;
    line-height: $close-line-height;
    font-weight: 300;
    padding: $alert-padding-y ($close-button-width - 14px)/2;
    color: #333333;
    background-color: transparent;
    border: none;
  }
}

@each $color, $value in $alert-types {
  .alert-#{$color} {
    background-color: map_get($value, 'color');
    box-shadow: none;
  }
}

@media (min-width: map_get($grid-breakpoints, 'md')) {
  $alert-min-height:                  50px;
  $alert-padding-y:                   10px;
  $close-font-size:                   22px;
  $close-line-height:                 8px;
  $close-button-width:                46px;

  .alert {
    min-height: $alert-min-height;
    flex-direction: row;
    align-items: center;
    padding: $alert-padding-y $alert-padding-x;

    &::before {
      content: '';
      background-image: map_get($alert-default, 'icon-url');
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      flex-shrink: 0;
      width: 30px;
      height: 30px;
      margin-right: 10px;
    }

    &__contenido {
      display: block;
    }

    &__titulo {
      margin: 0 3px 0 0;
    }

    &__texto {
      margin: 0;
    }

    &__link {
      margin-left: 4px;
      align-self: inherit;
    }
  }

  .alert-dismissible {
    padding-right: $close-button-width + 1px;

    .close {
      padding: ($alert-min-height - $close-line-height)/2 ($close-button-width - 12px)/2;
      font-size: $close-font-size;
      line-height: $close-line-height;
    }
  }

  @each $color, $value in $alert-types {
    .alert-#{$color} {
      &::before {
        background-image: map_get($value, 'icon-url');
      }
    }
  }
}
