@font-face {
  font-family: 'Whitney';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local(Whitney-Medium), url(fonts/whitney/Whitney-Light.ttf) format("woff2"),
    url(fonts/whitney/Whitney-Light.woff) format("woff"), url(fonts/whitney/Whitney-Light.ttf) format("truetype");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
    U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Whitney';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(Whitney-Book), url(fonts/whitney/Whitney-Book.woff2) format("woff2"),
    url(fonts/whitney/Whitney-Book.woff) format("woff"), url(fonts/whitney/Whitney-Book.ttf) format("truetype");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
    U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Whitney';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local(Whitney-Medium), url(fonts/whitney/Whitney-Medium.woff2) format("woff2"),
    url(fonts/whitney/Whitney-Medium.woff) format("woff"), url(fonts/whitney/Whitney-Medium.ttf) format("truetype");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
    U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Whitney';
  font-style: bold;
  font-weight: 600;
  font-display: swap;
  src: local(Whitney-Semibold), url(fonts/whitney/Whitney-Semibold.ttf) format("woff2"),
    url(fonts/whitney/Whitney-Semibold.woff) format("woff"), url(fonts/whitney/Whitney-Semibold.ttf) format("truetype");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
    U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local(Heebo-Light), url(fonts/heebo/Heebo-Light.woff2) format("woff2"),
    url(fonts/heebo/Heebo-Light.woff) format("woff"), url(fonts/heebo/Heebo-Light.ttf) format("truetype");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
    U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(Heebo-Regular), url(fonts/heebo/Heebo-Regular.woff2) format("woff2"),
    url(fonts/heebo/Heebo-Regular.woff) format("woff"), url(fonts/heebo/Heebo-Regular.ttf) format("truetype");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
    U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local(Heebo-Medium), url(fonts/heebo/Heebo-Medium.woff2) format("woff2"),
    url(fonts/heebo/Heebo-Medium.woff) format("woff"), url(fonts/heebo/Heebo-Medium.ttf) format("truetype");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
    U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(Heebo-Bold), url(fonts/heebo/Heebo-Bold.woff2) format("woff2"),
    url(fonts/heebo/Heebo-Bold.woff) format("woff"), url(fonts/heebo/Heebo-Bold.ttf) format("truetype");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
    U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}