<div mat-dialog-content>
    <div class="dialog">
      <div class="dialog__content">
        <h4 class="dialog__title">Tu sesión expiró</h4>
        <p class="dialog__subtitle">En caso de que lo necesites, podés volver a ingresar ahora.</p>
      </div>

      <div class="dialog__actions">
        <a mat-flat-button class="mat-button-lg" color="primary" href="/login.aspx">Volver a ingresar</a>
        <a mat-button class="mat-button-sm button--logout button--arrow" href="{{logoffUrl}}">Entendido</a>
      </div>
    </div>
  </div>
