:host {
    mat-sidenav {
        overflow: hidden;
    }
    .contenedor {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        main {
            flex-grow: 1;
            flex-shrink: 0;
            display: flex;
            flex-direction: column;
            background-color: #FFFFFF;
        }
    }
}