<hr class="separador">

<footer class="footer">
  <h5 class="footer-title">Atención al Cliente</h5>

  <ul class="contactenos-list">
    <li class="contactenos-list__item">
      Capital Federal y GBA
      <span class="telefono text-nowrap">011 4959 4959</span>
    </li>

    <li class="contactenos-list__item">
      Interior
      <span class="telefono text-nowrap">0810 333 4959</span>
    </li>

    <li class="contactenos-list__item">
      Previsional
      <span class="telefono text-nowrap">0810 222 2639</span>
    </li>
  </ul>

  <div class="copyright">
    © 2020 Banco Supervielle S.A.
  </div>
</footer>
