@import "~src/assets/variables";

:host {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;

  .separador {
    background-color: #d5d2ca;
  }

  .footer {
    padding: 25px 10px;

    .footer-title {
      font-size: 13px;
      line-height: 11px;
      font-weight: normal;
      color: #3a3a3a;
      margin-bottom: 9px;
    }

    .copyright {
      font-size: 11px;
      line-height: 1;
      color: #333333;
    }
  }

  .contactenos-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    margin: 0 0 20px;
    padding: 0;
    list-style: none;

    font-size: 11px;
    font-weight: normal;
    line-height: 15px;
    color: #707070;

    &__item {
      margin-right: 30px;

      .telefono {
        display: block;
      }
    }
  }

  @media (min-width: map_get($grid-breakpoints, 'lg')) {
    .footer {
      width: 100%;
      max-width: 1280px;
      margin-left: auto;
      margin-right: auto;

      .footer-title {
        margin-bottom: 0;
      }
    }

    .contactenos-list {
      display: inline-flex;
      margin: 0;
      width: 75%;
      font-size: 11px;
      line-height: 11px;

      &__item {
        margin-right: 20px;
        .telefono {
          display: initial;
        }
      }
    }

    .copyright {
      color: #707070 !important;
      display: inline-block;
      width: 25%;
      text-align: right;
    }
  }
}
