@import '~@angular/material/theming';

$supervielle-red: (
  50: #fde5e5,
  100: #fcd4d4,
  200: #f8a0a1,
  300: #f25e5f,
  400: #f04143,
  500: #ee2527,
  600: #e31214,
  700: #c60f11,
  800: #aa0d0f,
  900: #8e0b0c,
  A100: #ffffff,
  A200: #ffadae,
  A400: #ff4749,
  A700: #f53739,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);

// Theme Variables Overrides
$cdk-overlay-dark-backdrop-background: rgba(0, 0, 0, 0.2);
$mat-light-theme-background: map-merge($mat-light-theme-background, (
  background: rgba(245, 245, 245, .7),
));

// Seteo de las variables para las paletas de colores del theme.
$obi-primary-palette: mat-palette($supervielle-red);
$obi-accent-palette:  mat-palette($mat-grey);

$obi-app-theme: mat-light-theme($obi-primary-palette, $obi-accent-palette);

// Configuración de tipografías
$obi-typography: mat-typography-config(
  $font-family: '"Heebo", sans-serif',
  $button:      mat-typography-level(16px, 14px, 400),
);

@include mat-core($obi-typography);
@include angular-material-theme($obi-app-theme);

.mat-custom-theme {
  .mat-card {
    border: 1px solid #cccccc;
  }

  .mat-button,
  .mat-icon-button,
  .mat-stroked-button,
  .mat-flat-button {
    border-radius: 6px;
  }

  .mat-expansion-panel {
    &:not([class*=mat-elevation-z]) {
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
    }

    .mat-expansion-panel-header {
      padding: 0 16px;
    }

    .mat-expansion-panel-body {
      padding: 0;
    }

    .mat-expansion-indicator {
      display: flex;
      align-items: center;
      margin-right: -6px;

      &::after {
        content: url("~src/assets/icons/icon-arrow-down.svg");
        padding: 0;
        transform: none;
        border: none;
        height: 30px;
        transition: transform 200ms;
      }
    }

    &.mat-expanded {
      .mat-expansion-indicator {
        &::after {
          transform: translateY(-2px);
        }
      }
    }

    .mat-menu-panel {
      border-radius: 5px;
      box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.3);
      border: solid 1px #e0e0e0;

      .mat-menu-content {
        padding: 6px 5px;
      }
    }
  }
}
